/* Admin form elements */
.Editor .col-form-label-sm,
.Editor div.form-control-sm,
.Editor div.form-control-sm label,
.Editor input.form-control-sm,
.Editor select.form-select-sm,
.Editor textarea.form-control-sm,
.Editor .btn-sm {
  font-size: 10pt;
}

.Editor .btn-sm {
}

/* Editing drop down menus */
.Editor .dropdown-item {
  font-size: 12pt;
  color: black;
}

.Editor.DropFile {
  font-size:14pt;
  z-index: 1300;
}

div.dropdown-menu.Editor {
  background-color: white;
  padding: 10px 0;
  cursor: pointer;
  line-height:200%;
}

.Editor .dropdown-item:hover {
  background-color: lightgray;
}

/* Headings in edit panels */
.Editor h5 {
  font-size:13pt;
}

/* Admin panel */
.Editor {
  color:black;
  font-size: 10pt;
  font-weight: normal;
}

button.EditorToggle.btn {
  color: black;
}

.Editor {
  font-family: Arial, Helvetica, sans-serif;
}