/* Navbar outer container, flex settings help nav items align */
.NavBar.navbar {
  width: 100vw;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 1030;
}

/* Navbar inner elements, allows for custom alignment/layout */
.NavBarContents.container-fluid {
  width: 100vw;
  max-width: var(--page-max-width);
}

/* Navbar branding */
.NavBarBrand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Navbar dropdown menus */
.navbar .dropdown-menu {
  padding: 5px;
}

/* Last dropdown menu */
div.dropdown-menu.dropdown-menu-end {
  margin-bottom: 15px;
}

/* Navbar toggle button */
.navbar .navbar-toggler {
}

/* Navbar navigation links */
.navbar .navbar-nav .nav-link,
.navbar .navbar-nav .dropdown-menu .dropdown-item,
.navbar .navbar-brand {
}

/* Current page in navigation links and dropdown items */
.navbar-nav a.nav-link.active,
.nav-item .dropdown-menu a.dropdown-item.active,
#nav-dropdown-active {
}

/* Navbar link and dropdown item hover */
.navbar-nav a.nav-link:hover,
.nav-item .dropdown-menu a.dropdown-item:hover,
#nav-dropdown-active:hover {
}

.AddPageButton {
}
