@keyframes parallax {
  from {
    background-position: bottom 0 center;
  }
  to {
    background-position: bottom -300px center;
  }
}

div.SectionImage.parallax {
  animation: parallax linear;
  animation-timeline: scroll();
  width: 100%;
}