/*
 * Customizations to default site Theme and CSS
 *
 * NOTE: modify index.css to style the appearance of the static
 * <body> and <div id="root"> tags before JS loads
 */

:root {
  --navbar-height: 60px; /* height of navigation bar, for positioning scrollable page content below */
  --page-max-width: 768px; /* max width of page content and navigation */
  --breadcrumb-delimiter: "»"; /* String between navigation levels in breadcrumb display */
  --page-background-color: var(--bs-body-bg); /* page content background */
}

/* hover on content links */
.PageSection a:hover {
  color: rgb(255, 207, 176) !important;
}

/* hover on page navigation */
.PageNavigation :hover {
  color: rgb(255, 207, 176) !important;
}

/* dropdown menu color & border */
.NavBar div.dropdown-menu {
  background: rgb(186, 86, 27);
  border: 1px solid rgb(237, 130, 61);
}

/* no background change on menu hover */
.dropdown-item:hover {
  background: transparent !important;
}

/* active dropdown item background */
.dropdown-item:hover .active {
  background: rgb(237, 130, 61);
}

/* no focus shadow on toggler */
.navbar-toggler:focus {
  box-shadow: none !important;
}

/* toggler expanded color */
.navbar-toggler {
  border-color: white !important;
  background-color: rgb(237, 130, 61) !important;
}

/* toggler collapsed color */
.navbar-toggler.collapsed {
  border-color: rgb(255, 207, 176) !important;
  background-color: transparent !important;
}

/* toggler hover color */
.navbar-toggler:hover {
  border-color: rgb(255, 207, 176) !important;
  background-color: rgb(237, 130, 61) !important;
}

/* expanded toggler icon (change color) */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* collapsed toggler icon (change color) */
.navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 207, 176, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* Navbar navigation links */
.navbar .navbar-nav .nav-link,
.navbar .navbar-nav .dropdown-menu .dropdown-item,
.navbar .navbar-brand {
  color: white !important;
}

/* Current page in navigation links and dropdown items */
.navbar-nav a.nav-link.active,
.nav-item .dropdown-menu a.dropdown-item.active,
#nav-dropdown-active {
  color: rgb(255, 207, 176) !important;
}

/* Navbar link and dropdown item hover */
.navbar-nav a.nav-link:hover,
.nav-item .dropdown-menu a.dropdown-item:hover,
#nav-dropdown-active:hover {
  color: rgb(255, 207, 176) !important;
}

/* Form controls */
.form-control {
  background: var(--bs-body-bg) !important;
  border: var(--bs-border-color) 1px solid !important;
  color: var(--bs-body-color) !important;
}

/* bootstrap sm width */
@media (max-width: 576px) {

}

/* bootstrap sm width */
@media (min-width: 576px) {

}

/* bootstrap md width */
@media (min-width: 768px) {

}

/* bootstrap lg width */
@media (min-width: 960px) {

}

/* bootstrap xl width */
@media (min-width: 1140px) {

}