.email-preview {
  position: relative;
  background-color: #cccccc;
  padding: 15px;
  color: black;
  font-size: 10pt;
  line-height: 1.4;
  overflow-y: auto;
  overflow-x: hidden;
}

/* bootstrap xs width */
@media (max-width: 575px) {
  .email-preview {
    max-height:none;
  }
}