/* Bottom-left arrow (Received) */
.bubble-bottom-left::before {
  content: "";
  position: absolute;
  bottom: -10px; /* Pulls the arrow below the bubble boundary */
  left: 20px; /* Offsets it from the left edge */
  border-width: 10px 10px 0 10px;
  border-style: solid;
  border-color: #606060 transparent transparent transparent; /* Matches bg-light */
}

.bubble-bottom-left {
  padding: 15px;
  background-color: #606060;
  border-radius: 15px;
  position: relative;
  font-size: 10pt;
}

/* Bottom-right arrow (Sent) */
.bubble-bottom-right::before {
  content: "";
  position: absolute;
  bottom: -10px; /* Pulls the arrow below the bubble boundary */
  right: 20px; /* Offsets it from the right edge */
  border-width: 10px 10px 0 10px;
  border-style: solid;
  border-color: #606060 transparent transparent transparent; /* Matches bg-primary */
}

.bubble-bottom-right {
  padding: 10px;
  margin-right: 10px;
  background-color: #606060;
  border-radius: 10px;
  position: relative;
  font-size: 10pt;
  line-height:1.4;
  color: white;
}

.bubble-content {
  max-height:200px;
  overflow-y:auto;
}

/* bootstrap xs width */
@media (max-width: 575px) {
  .bubble-content {
    max-height:100px;
  }
}